.To-Do-List-container{
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80rem;
  border: 1px solid black;
  min-height: 60rem;
  background-color: bisque;
  border-radius: 1rem;
}

.ToDo-form{
  display: flex;
  width: 100%;
  margin-top: 10rem;
  font-size: 3rem;
  gap: 2rem;
}

.ToDo-input{
  border: 1px solid black;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}


.ToDo-btn{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 2.5rem;
}

.ToDo-form button:hover{
  background-color: black;
  color: white;
  font-weight: 600; 

}

.Task-div{
  background-color: rgb(228, 178, 241);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  box-shadow: 0.5rem 0.5rem 4rem rgb(42, 42, 42);
  border-radius: 1rem;
}

.ToDo-text{
  font-size: 2.5rem;

}

.icons{
  display: flex;
  gap: 3rem;
  font-size: 3rem;
  cursor: pointer;

}

.complete{
  text-decoration: line-through;
  opacity: 0.7;
  Background-color: rgb(65, 52, 246);
}

.hide{
  display: none;
}